const env = process.env.NODE_ENV || 'development';

const config = {
  development: {
    client: 'postgres',
    connection: {
      host: '127.0.0.1',
      username: 'shorty',
      password: '',
      database: 'shorty'
    },
    pool: {
      max: 15,
      min: 5
    }
  },

  test: {
    client: 'postgres',
    connection: {
      host: '127.0.0.1',
      username: 'shorty',
      password: '',
      database: 'shorty_test'
    }
  }
}

export default config[env];
